* {
    box-sizing: border-box; /* Not really needed here, but makes the JS pageload animation a lot easier. If not supported, that will just be slightly unaligned. */
}
html, body {
    height: 100%; /* Makes the footer always appear at the bottom of the page, which is nice. */
}
body {
    padding: 0px; /* Get rid of the annoying default spacing on the body. */
    margin: 0px;
}

img {
    max-width: 100%; /* Images shouldn't cause overflows. */
}


/***** Navigation Menu *****/
/* Time-consuming nightmare my foot. I can do these things in my sleep now. (Unless you want super old browser compatability, in which case I'd just toss in a JS shim and call it a day.) */
/* First-level navigation bar and items. */
nav {
    text-align: center;
}
ul#primary_nav_bar {
    font-size: 0px;
    display: inline-block; /* Allows centring. */
    list-style-type: none; /* Shouldn't be a list. */
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
ul#primary_nav_bar > li {
    font-size: 11pt;
    display: inline-block; /* Make items stack horizontally instead of vertically. */
    padding: 15px 40px;
}
ul#primary_nav_bar a {
    text-decoration: none;
}

/* Popup navigation menu. */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

ul#primary_nav_bar > li > ul {
    display: none; /* Hidden by default. */
    list-style-type: none; /* Remove list style. */
    padding-left: 0px; /* Get rid of awkward padding. */
    opacity: 0;
    transition: opacity 1s ease-out;
}
ul#primary_nav_bar > li:hover > ul {
    z-index: 1000; /* Make sure the popup appears over everything. */
    position: absolute; /* Should go outside of element flow. */
    margin-top: 15px; /* (same as ul#primary_nav_bar > li: padding-bottom) */
    margin-left: -40px; /* (same as ul#primary_nav_bar > li: padding-left) */
    display: block;
    border: 2px solid;
    opacity: 1;
    animation: fadeIn .3s ease;
}

/* Items in a popup navigation menu. */
ul#primary_nav_bar > li > ul > li { /* Pad each item and add a border as a sepeartor. */
    padding: 8px 5px;
    border-bottom: 1px solid;
}
ul#primary_nav_bar > li > ul > li:last-child { /* Remove the bottom border on the last item for visual consistency. */
    border-bottom: none;
}



/* Header, Main, and Footer */
header#main_header {
    display: block;
    border-bottom: 3px solid;
}

#mainHolder {
    padding: 20px;
}

footer#main_footer {
    display: block;
    border-top: 2px solid;
    text-align: center;
    bottom: 0px;
    font-weight: bold;
    padding: 5px 0px;
    font-family: sans-serif;
}


/* Other stuff. */
#myName {
    position: relative;
    top: -.5em;
    padding: 5px;
    font-size: 2em;
    border-radius: .2em;
}

aside#headshot {
    float: left;
    margin-right: 20px;
    text-align: center;
}
aside#headshot #name {
    display: inline-block;
}

#dateContainer {
    font-weight: bold;
}